#divCaptcha > div {
    width: 100% !important;
}

.header-top {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    border-top: 0;
    background-color: white !important;
}
